<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagenes</title>
</head>
<body>
    <!--Etiqueta para imágenes-->
    <img src="/DiplomadoWeb/multimedia/0001_paisaje.jpg" alt="Lago">

    <!--Imágenes con un tamaño especifico-->
    <img src="/DiplomadoWeb/multimedia/0001_paisaje.jpg" height="100" width="50" alt="Lago">

    <!--Insertando imagen con  la URL copiada del navegador web-->
    <img src="https://i.pinimg.com/236x/86/b2/52/86b2521ebaa17c8a89f85609809bd9a6.jpg" alt="">

</body>
</html>