<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Font Features Settings</title>
    <style>
        /*Habilita small-caps*/
        div.ejemplo1{
            font-feature-settings: "smcp" on;
        }
        /*Habilita fracciones en automático*/
        div.ejemplo2{
            font-feature-settings: "frac";
        }
    </style>
</head>
<body>
    <div class="ejemplo1">
        La mayor parte de los logros artísticos y culturales se produjeron durante el 
        período Clásico 300–900d.C.
    </div>
    <div class="ejemplo2">
        La mayor parte de los logros artísticos y culturales se produjeron durante el 
        período Clásico 300–900 d.C.
    </div>
</body>
</html>