<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medidas</title>
    <style>
        div {
            height: 200px;
            width: 50%;
            background-color: darkturquoise;
            text-align: center;
            font-size: xx-large;
            color: darkblue;
        }

        div.rectangulo2 {
            width: 50%;
            background-color: lightcoral;
        }
    </style>
</head>
<body>
    <h4>
        Este div tiene un alatura de 200px y un ancho
        de 50% de su contenedor.
    </h4>
    <div>
        <div class="rectangulo2"></div>
    </div>
    <h4>

    </h4>
    
</body>
</html>