<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selector Combinado</title>
    <style>
        div p {
            background-color: lightcyan;
            text-align: justify;
            font-size: 18px;
            color: darkblue;
            
        }
        div img {
            width: 100px;
            height: 100px;
            float: left;
        }
    </style>
</head>
<body>
    <div>
        <img src="../../multimedia/maya.jpg"><p>La civilización maya ocupó un extenso territorio que incluía 
            el sureste de México y el norte de América Central; abarcó toda 
            la península de Yucatán, la totalidad de Guatemala y Belice, 
            así como la porción occidental de Honduras y El Salvador.
            La mayor parte de la península se compone de una vasta planicie 
            con pocas colinas o montañas y una zona costera generalmente baja.</p></a>
        
        <p>La civilización maya ocupó un extenso territorio que incluía 
            el sureste de México y el norte de América Central; abarcó toda 
            la península de Yucatán, la totalidad de Guatemala y Belice, 
            así como la porción occidental de Honduras y El Salvador.
            La mayor parte de la península se compone de una vasta planicie 
            con pocas colinas o montañas y una zona costera generalmente baja.</p>
            <section>
                <p>La civilización maya ocupó un extenso territorio que incluía 
                    el sureste de México y el norte de América Central; abarcó toda 
                    la península de Yucatán, la totalidad de Guatemala y Belice, 
                    así como la porción occidental de Honduras y El Salvador.
                    La mayor parte de la península se compone de una vasta planicie 
                    con pocas colinas o montañas y una zona costera generalmente baja.</p>
            </section>
    </div>
        <p>La civilización maya ocupó un extenso territorio que incluía 
            el sureste de México y el norte de América Central; abarcó toda 
            la península de Yucatán, la totalidad de Guatemala y Belice, 
            así como la porción occidental de Honduras y El Salvador.
            La mayor parte de la península se compone de una vasta planicie 
            con pocas colinas o montañas y una zona costera generalmente baja.</p> 
        <p>La civilización maya ocupó un extenso territorio que incluía 
            el sureste de México y el norte de América Central; abarcó toda 
            la península de Yucatán, la totalidad de Guatemala y Belice, 
            así como la porción occidental de Honduras y El Salvador.
            La mayor parte de la península se compone de una vasta planicie 
            con pocas colinas o montañas y una zona costera generalmente baja.</p>
</body>
</html>