<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selector Pseudo Elemento</title>
    <style>
        p::first-letter {
            color: deeppink;
            font-size: xx-large;
        }

        p::first-line {
            color: lightpink;
            font-variant: small-caps;
        }
    </style>
</head>
<body>
    <p>
        La civilización maya ocupó un extenso territorio que incluía 
        el sureste de México y el norte de América Central; abarcó toda 
        la península de Yucatán, la totalidad de Guatemala y Belice, 
        así como la porción occidental de Honduras y El Salvador.
        La mayor parte de la península se compone de una vasta planicie 
        con pocas colinas o montañas y una zona costera generalmente baja.
    </p>
</body>
</html>