<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectores simples</title>
    <link rel="stylesheet" href="../../css/estiloSelectSimple.css">
</head>
<body>
    <h1>Cultura Maya</h1>
    <h2>La cultura maya se refiere a una civilización mesoamericana que 
        destacó a lo largo de más de dos milenios en numerosos aspectos 
        socioculturales como su escritura jeroglífica, uno de los pocos 
        sistemas de escritura plenamente desarrollados del continente 
        americano precolombino, su arte, la arquitectura, su mitología y 
        sus notables sistemas de numeración, así como en astronomía, 
        matemáticas y comprensión de la ecología. Se desarrolló en el 
        actual sureste de México (en los estados de Yucatán, Campeche, 
        Quintana Roo, Chiapas y Tabasco) y Guatemala, también en Belice, 
        la parte occidental 
        de Honduras y en El Salvador, abarcando más de 300,000 km².</h2>
        <br>
        <h3>La civilización maya ocupó un extenso territorio que incluía 
            el sureste de México y el norte de América Central; abarcó toda 
            la península de Yucatán, la totalidad de Guatemala y Belice, 
            así como la porción occidental de Honduras y El Salvador.
            La mayor parte de la península se compone de una vasta planicie 
            con pocas colinas o montañas y una zona costera generalmente baja.</h3>
    <p>Por nombre</p>
    <p id="idParrafo">Por id</p>
    <p class="classParrafo">Por clase</p>
    <p class="red">Por nombre y por clase</p>
    <p class="coral large">Este párrafo tiene dos clases</p>
</body>
</html>