<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selector Pseudo Clase</title>
    <style>
        /*link no visitado*/
        a:link {
            color: darksalmon;
        }

        /*link visitado*/
        a:visited {
            color: darkgreen;
        }

        /*Cursor sobre el link*/
        a:hover {
            color: darkslateblue;
        }

        /*link seleccionado*/
        a:active {
            color: darkred;
        }
    </style>
</head>
<body>
    <p>
        <a href="http://www.google.com">Google</a>
    </p>
</body>
</html>