<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transformación</title>
        <style>
           
            .a {
                width: 150px;
                height: 80px;
                background-color: deeppink;
                transform: rotate(20deg);
            }

            .b {
                width: 150px;
                height: 80px;
                background-color: deepskyblue;
                transform: scaleY(1.5);
            }
        </style>
</head>
<body>
    <h1>Ejemplo 1</h1>
    <div class="a">Rotación 20deg</div>
    <h1>Ejemplo 2</h1>
    <div class="b">scaleY</div>
</body>
</html>