<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taansiciones</title>
    <style>
        div {
            width: 100px;
            height: 100px;
            background: orange;
            transition: width 5s;
            transition-property: width;
            transition-delay: 2s;
        }

        div:hover {
            width: 300px;
            background-color: orchid;
        }
    </style>
</head>
<body>
    <h4>Coloca el cursor sobre el cuadrado naranja</h4>
    <div></div>
</body>
</html>